body {
  text-align: center;
}
h1 {
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

header {
  background-color: blue;
}

footer {
  background-color: blue;
}
